#AppBody{
	background-color: green;
	border: 1px solid black;
	height: 200px;	
}
#NavbarTop{
	background-color: blue;
	border: 1px solid black;
	height: 43px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
