#AppBody{
	background-color: green;
	border: 1px solid black;
	height: 200px;	
}
#NavbarTop{
	background-color: blue;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#NavbarTop .logo-block{
	height: 35px;
	border: 1px solid black;	
}
#NavbarTop .images{
	height: 28px;
	background-color: green;
	display: flex;
	align-content: center;
	justify-content: center;
}
#NavbarTop .down-symbol{
	height: 7px;
	background-color: yellow;
}
