#NavbarTop{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 50px;
	background-color: #000;
}
#NavbarTop .logo-block{
	display: flex;
	height: 40px;
	margin-top: 10px;
}
#NavbarTop .logo{
	height: 37px;
  	color: #fff;
}
#NavbarTop i{
	margin-top: -12px;
	height: 15px;
	color: #777;
}
#NavbarTop .close-button{
	position: absolute;
	left: calc(100% - 50px);
	height: 50px;
	width: 50px;
	padding-top: 12px;
}
#NavFull{
	position: fixed;
	top: 50px;
	height: calc(100vh - 50px);
	width: 100vw;
	background-color: #000;
}


#AppBody{
	background-color: green;
	border: 1px solid black;
	margin-top: 50px;
	height: 1000px;
}
