body {
  margin: 0;
  padding: 0;
  font: 16px/30px 'Avenir', Arial, sans-serif;
  background-color: #E1FF58;
}
.hide{
	display: none;
}
.flex-all-center{
	display: flex;
	justify-content: center;
	text-align: center;
}
.flex-direct-column{
	flex-direction: column;
}

@keyframes translateY100{
	from{
		transform: translateY(-110%);
	}
	to{
		transform: translateY(0%);
	}
}